<h1>Picture Details </h1>

<p>
<img height = 100 src= <%= params[:source] %>>
</p>

<p><%= params[:caption] %></p>

<p>Thank you for adding your picture to our <a href="/all_pictures">collection</a>! </p>