<h1>Edit Picture</h1>

<%= form_tag("http://localhost:3000/update_picture/#{params[:id]}", :method => "patch") do %>
  <div>
    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%= @picture.caption %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value="<%= @picture.source %>">
  </div>
  <div>
    <input type="submit" value="Update Picture">
  </div>
  <div>

    <%= link_to("Return to Collection", "http://localhost:3000/all_pictures") %>
<% end %>