<h1> List of Pictures </h1>

<%= link_to("Add a New Photo", new_picture_url) %>

<ul>
	<% @list_of_pictures.each do |pic| %>
		<li> 
			<%= link_to(image_tag(pic.source, :width => 200) , "http://localhost:3000/picture_details/#{pic.id}") %>
			<p><%= pic.caption %> </p>
		</li>
	<% end %>
</ul>