<h1>Picture Details </h1>

<p>
<img height = 100 src= "<%= @picture.source %>">
</p>

<p><%= @picture.caption %></p>

<p><a href="http://localhost:3000/edit_picture_form/<%= @picture.id %>">Edit this picture</a></p>
<p><a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a></p>
<p> <a href="/all_pictures"> Return to the picture collection.</a></p>